<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="{% block description %}Discover clues and answers for NYT Spelling Bee. Access today's and past puzzles, and a searchable archive of hints and solutions.{% endblock %}">
<meta name="keywords" content="NYT Spelling Bee, spellingbee, spellingbee clues, spellingbee hints, spelling bee hints">
<meta name="author" content="NYT Spelling Bee Key">
<title>{% block title %}NYT Spelling Bee Key{% endblock %}</title>

<meta property="og:type" content="website">
<meta property="og:description" content="{{self.description()}}">
<meta property="og:title" content="{{self.title()}}">
<meta property="og:image" content="{{ domain }}/static/banner.png">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@SpellingBeeKey">
<meta name="twitter:title" content="{{self.title()}}">
<meta name="twitter:description" content="{{self.description()}}">
<meta name="twitter:image" content="{{ domain }}/static/banner.png">

{% if canon_url is defined %}
  <meta property="og:url" content="{{ domain }}{{ canon_url }}">
  <link rel="canonical" href="{{ domain }}{{ canon_url }}">
  <meta name="twitter:url" content="{{ domain }}{{ canon_url }}">
{% endif %}

<!-- CSS -->
{% if DEV %}
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="/static/custom.css" rel="stylesheet">
{% else %}
  <link href="/static/style.{{ css_version }}.css" rel="stylesheet">
{% endif %}

<!-- Javascript -->
  {% if not DEV %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0BHRLPDY39"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-0BHRLPDY39', {'content_group':'{{ get_content_group(url) }}' });
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MBGB6FFQ');</script>
    <!-- End Google Tag Manager -->

    <!-- Site Javascript -->
    <script async src="/static/script.{{ js_version }}.min.js"></script>
  {% else %}
    <!-- Unminified site javacript for DEV. -->
    <script async src="/static/script.{{ js_version }}.js"></script>
  {% endif %}

  <link rel="icon" href="/static/favicon/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="apple-touch-icon" href="/static/favicon/apple-touch-icon.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/static/favicon/android-chrome-512x512.png">

  <!-- page specific head section -->
  {% block head %}{% endblock %}

</head>

<body class="flex flex-col min-h-screen bg-gray-100 text-gray-800 font-sans leading-normal tracking-normal">

{% if not DEV %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBGB6FFQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endif %}

<!-- The search box should always be open on these pages -->
{% set show_search_box = True or ((request is defined and request.path == '/search') or url.startswith('/clues')) %}

<!-- Navigation Bar -->
<nav class="flex items-center justify-between py-4 px-6 bg-yellow-400 shadow-md">
  <div class="text-2xl font-bold flex items-center">
    <a id="nav-home" href="/">🐝 <span class="ml-2">NYT Spelling Bee Key</span></a>
  </div>
  <div class="hidden sm:flex space-x-6 text-lg">
    <a  href="#"
        onclick="toggleVisible(this); ffocus('search-text-input')"
        data-target="search-box"
        id="nav-lrg-open-search"
        class="group flex items-center font-medium text-gray-700 hover:text-yellow-600 transition
          {% if show_search_box %} hidden {% endif %}">
      <svg class="h-6 w-6 size-4 inline stroke-[1.5] text-gray-700 group-hover:fill-yellow-600 transition"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
        <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
      </svg><span class="pl-1">Search</span>
    </a>
    <a  href="/puzzles/latest"
        id="nav-puzzles"
        class="font-medium text-gray-700 hover:text-yellow-600 transition">Puzzles</a>
    <a  href="/clues/"
        id="nav-clues"
        class="font-medium text-gray-700 hover:text-yellow-600 transition">Clues</a>
    <a  href="/about"
        id="nav-about"
        class="font-medium text-gray-700 hover:text-yellow-600 transition">About</a>
  </div>
  <div class="sm:hidden">
    <button class="text-3xl {% if show_search_box %} hidden {% endif %}"
        id="nav-mob-open-search"
        onclick="toggleVisible(this); ffocus('search-text-input')"
        {% if not show_search_box %}data-target="search-box"{% endif %}
        data-opposite-button="nav-mob-menu-button">
      <svg class="h-6 w-6 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
        <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
      </svg>
    </button>
    <button class="text-3xl"
        id="nav-mob-menu-button"
        onclick="toggleVisible(this)"
        data-target="mobileMenu"
        data-opposite-button="nav-mob-open-search">☰</button>
  </div>
</nav>

<!-- Search Box -->
{% set query = (request is defined and request.args.get('q', '')) or '' %}
<div id="mobileMenu" class="hidden sm:hidden flex flex-col space-y-4 px-6 pt-4 bg-yellow-300 shadow-md text-lg">
  <a  href="/"
      id="menu-home"
      class="font-medium text-gray-700 hover:text-yellow-600 transition">Home</a>
  <a  href="/puzzles/latest"
      id="menu-puzzles"
      class="font-medium text-gray-700 hover:text-yellow-600 transition">Puzzles</a>
  <a  href="/clues/"
      id="menu-clues"
      class="font-medium text-gray-700 hover:text-yellow-600 transition">Clues</a>
  <a  href="/about"
      id="menu-about"
      class="font-medium text-gray-700 hover:text-yellow-600 transition">About</a>
</div>

<div id="search-box" class="{% if not show_search_box %}hidden{% endif %} flex items-center w-full pl-4 pr-2 sm:pr-4 py-4 bg-yellow-300 shadow-md">
  <!-- Centered Search Form -->
  <form action="/search" class="flex-1 flex justify-center">
    <div class="w-full max-w-full sm:max-w-[570px] flex flex-row items-center rounded-md border border-gray-300 bg-white px-3 focus-within:ring-1 focus-within:ring-gray-400 focus-within:outline-none mx-auto">
      <input
        id="search-text-input"
        type="text"
        name="q"
        value="{{ query }}"
        placeholder="Search for answers to clues..."
        autocomplete="off"
        class="w-full py-2 pr-1 rounded-md outline-none"/>
      <button type="submit" id="search-box-submit">
        <svg class="h-6 w-6 inline text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
          <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </form>
  <!-- X Button on the Right -->
  {% if not show_search_box %} <!-- Cannot be closed on the search results page. -->
    <button
      onclick="toggleVisible(this)"
      data-target="search-box"
      id="search-box-close"
      class="ml-2">
      <svg class="h-6 w-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  {% endif %}
</div>

<!-- Main Content Area -->
<main class="flex-grow">
  <section class="container mx-auto sm:mt-5 mt-3 py-4 px-6 max-w-4xl bg-white shadow-md rounded">
    {% block content %}{% endblock %}
  </section>

  {% if config['USE_SIGNUP'] and not url == '/thank-you' %}
    <section class="container mx-auto sm:mt-5 mt-3 py-4 px-6 max-w-4xl bg-white shadow-md rounded  text-gray-900">
      <h2 class="text-2xl font-bold">A New Word Game is Coming!</h2>
      <p class="text-gray-700 mt-2">
        Think you’re fast with words? A new multiplayer word game—<strong>inspired by Spelling Bee</strong>—is launching soon.
      </p>
      <p class="text-gray-700 mt-2">
        It will put you head-to-head with other players in real-time, where quick thinking and sharp vocabulary skills determine the winner.
      </p>

      <form id="signup-form" action="/thank-you" method="POST" class="mt-3 mx-auto">
        <label for="email" class="block text-gray-700 mb-2">
          <strong>Be amongst the first to play. Sign up for early access</strong>
        </label>
        <div class="flex flex-col sm:flex-row gap-2 sm:items-center">
          <input
            type="email"
            id="email"
            name="email"
            autocomplete="email"
            placeholder="Enter your email"
            required
            class="sm:w-[500px] p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-transparent focus:ring-2 focus:ring-yellow-500 w-full sm:w-60"
          >
          <button
            type="submit"
            class="w-full max-w-sm sm:max-w-48 bg-yellow-400 text-yellow-900 font-bold p-3 rounded-lg hover:bg-yellow-500 transition">
            Notify Me
          </button>
        </div>
      </form>

      <p id="success-message" class="italic mt-3 hidden text-gray-700">
        Thank you for signing up! We'll notify you when we launch.
      </p>
      <p id="failure-message" class="italic mt-3 hidden text-gray-700">
        Something went wrong. Please try again.
      </p>
      <script>
        document.getElementById("signup-form").addEventListener("submit", function(event) {
          event.preventDefault(); // Prevent normal form submission
          submitForm(); // Call the async function
        });

        async function submitForm() {
          let form = document.getElementById("signup-form");
          let formData = new FormData(form);
          let emailInput = document.getElementById("email");
          let successMessage = document.getElementById("success-message");
          let failureMessage = document.getElementById("failure-message");

          try {
            let response = await fetch(form.action, {
              method: form.method,
              body: formData,
              headers: { "Accept": "application/json" } // Optional for APIs that accept JSON
            });

            if (response.ok) {
              successMessage.classList.remove("hidden");
              failureMessage.classList.add("hidden");
              emailInput.value = "";
            } else {
              failureMessage.classList.remove("hidden");
              successMessage.classList.add("hidden");
            }
          } catch (error) {
            console.error("Submission error:", error);
            failureMessage.classList.remove("hidden");
            successMessage.classList.add("hidden");
          }
        }
      </script>
    </section>
  {% endif %}

  {% if config['USE_ADSENSE'] %}
    <!-- Ad sense -->
    <section>
      <div class="center mt-4" align="center">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8196064155864881"
             crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8196064155864881"
             data-ad-slot="5399954346"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </section>
  {% endif %}

  {% if config['USE_AMAZON'] %}
    <section>
      <a href="https://amzn.to/4ih70Ej" id="amazon-ah">
        <div class="container mx-auto sm:mt-5 mt-3 py-4 px-6 max-w-4xl bg-white shadow-md rounded center flex flex-col items-center">
          <img id="amazon-img" class="my-2" style="max-width: 300px; max-height: 373px; width: auto; height: auto;" src="/static/gh.png"/>

          <div class="flex flex-row items-center space-x-[2px]">
            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.7392 0.567871L13.2213 8.2071H21.2537L14.7554 12.9284L17.2375 20.5676L10.7392 15.8463L4.24087 20.5676L6.72301 12.9284L0.224693 8.2071H8.25705L10.7392 0.567871Z" fill="#F8CD5F"></path>
            </svg>
            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.7392 0.567871L13.2213 8.2071H21.2537L14.7554 12.9284L17.2375 20.5676L10.7392 15.8463L4.24087 20.5676L6.72301 12.9284L0.224693 8.2071H8.25705L10.7392 0.567871Z" fill="#F8CD5F"></path>
            </svg>
            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.7392 0.567871L13.2213 8.2071H21.2537L14.7554 12.9284L17.2375 20.5676L10.7392 15.8463L4.24087 20.5676L6.72301 12.9284L0.224693 8.2071H8.25705L10.7392 0.567871Z" fill="#F8CD5F"></path>
            </svg>
            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.7392 0.567871L13.2213 8.2071H21.2537L14.7554 12.9284L17.2375 20.5676L10.7392 15.8463L4.24087 20.5676L6.72301 12.9284L0.224693 8.2071H8.25705L10.7392 0.567871Z" fill="#F8CD5F"></path>
            </svg>
            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.7392 0.567871L13.2213 8.2071H21.2537L14.7554 12.9284L17.2375 20.5676L10.7392 15.8463L4.24087 20.5676L6.72301 12.9284L0.224693 8.2071H8.25705L10.7392 0.567871Z" fill="#F8CD5F"></path>
            </svg>
          </div>

          <div id="amazon-text" class="mt-1 font-serif max-w-[400px]">This breakthrough book from James Clear is the most comprehensive guide on how to change your habits and get 1% better every day. #ad</div>

          <style>
            .amazon-btn {
              background-color: #facc15; /* Yellow-400 */
              color: #542a14; /* Dark reddish-brown */
              font-weight: 700; /* Bold text */
              font-size: 1rem; /* Compact size */
              padding: 0.4rem 0.8rem; /* Less padding */
              border-radius: 0.375rem; /* Slight rounding */
              box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.15); /* Softer shadow */
              transition: all 0.15s ease-in-out;
            }

            .amazon-btn:hover {
              background-color: #f5c112; /* Slightly darker yellow */
              transform: translate(0.5px, -0.5px); /* Subtle movement */
              box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
            }
          </style>

          <div class="amazon-btn mt-2 mb-3">
            Buy on Amazon
          </div>

        </div>
      </a>
    </section>
  {% endif %}

</main>

<!-- Footer -->
<footer class="bg-white border-t mt-3 sm:mt-3">
  <div class="container mx-auto px-4 py-6 text-center text-gray-500 text-sm">
    &copy; {{ current_year }} NYT Spelling Bee Key | Not affiliated with the New York Times
  </div>
</footer>

{% if config['USE_AMAZON'] %}
  <script>

    const ads = [
      {"id": 1, "url": "https://amzn.to/4ih70Ej", "image": "/static/gh.png",
        "text": "This breakthrough book from James Clear is the most comprehensive guide on how to change your habits and get 1% better every day. #ad"},

      {"id": 2, "url": "https://amzn.to/4bsLzxF", "image": "/static/li.jpg",
        "text": "\"<i>A brilliant, witty, and altogether satisfying book.</i>\" — New York Times Book Review<p class='my-1'>The classic work on the development of human language by the world’s leading expert on language and the mind. #ad</p>"},

      {"id": 3, "url": "https://amzn.to/3R3Vrox", "image": "/static/st.jpg",
        "text": "The Stuff of Thought presents a fascinating look at how our words explain our nature. Considering scientific questions with examples from everyday life, it is a brilliantly crafted and highly readable work that will appeal to fans of everything from <i>The Selfish Gene</i> and <i>Blink to Eats, Shoots & Leaves.</i> #ad"},

      {"id": 4, "url": "https://amzn.to/3XswpTn", "image": "/static/word_freak.jpg",
        "text": "<i>Word Freak: Heartbreak, Triumph, Genius, and Obsession in the World of Competitive Scrabble Players</i> #ad"},

     {"id": 5, "url": "https://amzn.to/3Dh5xyQ", "image": "/static/lp.jpg",
        "text": "<i>Letter Perfect: The Marvelous History of Our Alphabet From A to Z</i> #ad"},

      {"id": 6, "url": "https://amzn.to/4i25Cpn", "image": "/static/et.jpg",
        "text": "<i>The Etymologicon: A Circular Stroll Through the Hidden Connections of the English Language</i> #ad"},

      {"id": 7, "url": "https://amzn.to/43kQ8bi", "image": "/static/hr.jpg",
        "text": "The Horologicon contains the most extraordinary words in the English language, arranged according to what hour of the day you might need them. <p class='my-1'>Do you wake up feeling rough? Then you’re <i>philogrobolized</i>.<p/><p>Find yourself pretending to work? That’s <i>fudgelling</i>. #ad</p>"},

      {"id": 8, "url": "https://amzn.to/3Xtn0el", "image": "/static/hs.jpg",
        "text": "This concise compendium of the most confused and misused words defines, discerns and distinguishes the finer points of sense and meaning. Are you trying to remember, or more fully recollect? Is he uninterested or rightly disinterested? Healthful or healthy, regretful or regrettable, notorious or infamous? #ad"},

    ];

    function getAdFromUrl() {
      const params = new URLSearchParams(window.location.search);
      let adParam = parseInt(params.get('ad'), 10);
      return ads.find(ad => ad.id === adParam) || null;
    }


    function getNextAd() {
      let adFromUrl = getAdFromUrl();
      if (adFromUrl) return adFromUrl;

      let lastSeenAd = parseInt(localStorage.getItem('last_seen_ad'), 10);
      let lastIndex = ads.findIndex(ad => ad.id === lastSeenAd);
      // Move to the next ad in sequence
      let nextIndex = (lastIndex + 1) % ads.length;
      let nextAd = ads[nextIndex];
      // Store the new last seen ad
      localStorage.setItem('last_seen_ad', nextAd.id);
      return nextAd;
    }

    function showAd() {
      let ad = getNextAd();
      document.getElementById('amazon-ah').href = ad.url;
      document.getElementById('amazon-img').src = ad.image;
      document.getElementById('amazon-img').alt = ad.text;
      document.getElementById('amazon-text').innerHTML = ad.text;
    }

    document.addEventListener('DOMContentLoaded', showAd);
  </script>
{% endif %}
</body>
</html>
