<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="{% block description %}Discover clues and answers for NYT Spelling Bee. Access today's and past puzzles, and a searchable archive of hints and solutions.{% endblock %}">
<meta name="keywords" content="NYT Spelling Bee, spellingbee, spellingbee clues, spellingbee hints, spelling bee hints">
<meta name="author" content="NYT Spelling Bee Key">
<title>{% block title %}NYT Spelling Bee Key{% endblock %}</title>

<meta property="og:type" content="website">
<meta property="og:description" content="{{self.description()}}">
<meta property="og:title" content="{{self.title()}}">
<meta property="og:image" content="{{ domain }}/static/banner.png">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@SpellingBeeKey">
<meta name="twitter:title" content="{{self.title()}}">
<meta name="twitter:description" content="{{self.description()}}">
<meta name="twitter:image" content="{{ domain }}/static/banner.png">

{% if canon_url is defined %}
  <meta property="og:url" content="{{ domain }}{{ canon_url }}">
  <link rel="canonical" href="{{ domain }}{{ canon_url }}">
  <meta name="twitter:url" content="{{ domain }}{{ canon_url }}">
{% endif %}

<!-- CSS -->
{% if DEV %}
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="/static/custom.{{VERSION}}.css" rel="stylesheet">
{% else %}
  <link href="/static/style.{{VERSION}}.css" rel="stylesheet">
{% endif %}

<!-- Javascript -->
  {% if not DEV %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0BHRLPDY39"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-0BHRLPDY39');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MBGB6FFQ');</script>
    <!-- End Google Tag Manager -->

    <script async src="/static/script.{{VERSION}}.min.js"></script>
  {% else %}
    <!-- Unminified js for DEV. -->
    <script async src="/static/script.{{VERSION}}.js"></script>
  {% endif %}
  <!-- Ad sense -->
<!--   <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8196064155864881"
     crossorigin="anonymous"></script> -->

  <link rel="icon" href="/static/favicon/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="apple-touch-icon" href="/static/favicon/apple-touch-icon.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/static/favicon/android-chrome-512x512.png">

  <!-- page specific head section -->
  {% block head %}{% endblock %}

</head>

<body class="flex flex-col min-h-screen bg-gray-100 font-sans leading-normal tracking-normal">

{% if not DEV %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBGB6FFQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endif %}

<!-- Navigation Bar -->
<nav class="flex items-center justify-between py-4 px-6 bg-yellow-400 shadow-md">
  <div class="text-2xl font-bold flex items-center">
    <a href="/">🐝 <span class="ml-2">NYT Spelling Bee Key</span></div>
  </div>
  <div class="hidden sm:flex space-x-6">
    <a  href="#"
        onclick="toggleVisible(this); ffocus('search-text-input')"
        data-target="searchBox"
        class="group flex items-center text-lg font-medium text-gray-700 hover:text-yellow-600 transition">
      <svg class="h-6 w-6 inline stroke-[1.5] text-gray-700 group-hover:fill-yellow-600 transition"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
        <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
      </svg><span class="pl-1">Search</span>
    </a>
    <a href="/puzzles/latest" class="text-lg font-medium text-gray-700 hover:text-yellow-600 transition">Puzzles</a>
    <a href="/clues/a" class="text-lg font-medium text-gray-700 hover:text-yellow-600 transition">Clues</a>
  </div>
  <div class="sm:hidden">
    <button class="text-3xl"
        id="searchButton"
        onclick="toggleVisible(this); ffocus('search-text-input')"
        data-target="searchBox"
        data-opposite-button="menuButton">
      <svg class="h-6 w-6 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
        <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
      </svg>
    </button>
    <button class="text-3xl"
        id="menuButton"
        onclick="toggleVisible(this)"
        data-target="mobileMenu"
        data-opposite-button="searchButton">☰</button>
  </div>
</nav>

<!-- Search Box -->
{% set is_search_page = request is defined and request.path == '/search' %}
<div id="searchBox" class="{% if not is_search_page %}hidden{% endif %} flex items-center w-full pl-4 pr-2 sm:pr-4 py-4 bg-yellow-300 shadow-md">
  <!-- Centered Search Form -->
  <form action="/search" class="flex-1 flex justify-center">
    <div class="w-full max-w-full sm:max-w-[570px] flex flex-row items-center rounded-md border border-gray-300 bg-white px-3 focus-within:ring-1 focus-within:ring-gray-400 focus-within:outline-none mx-auto">
      <input
        id="search-text-input"
        type="text"
        name="q"
        value="{{ request.args.get('q', '') if is_search_page else '' }}"
        placeholder="Search for answers to clues..."
        autocomplete="off"
        class="w-full py-2 pr-1 rounded-md outline-none"/>
      <button type="submit">
        <svg class="h-6 w-6 inline text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
          <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </form>
  <!-- X Button on the Right -->
  {% if not is_search_page %}
    <button onclick="toggleVisible(this)" data-target="searchBox" class="ml-2">
      <svg class="h-6 w-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  {% endif %}
</div>

<div id="mobileMenu" class="hidden sm:hidden flex flex-col space-y-4 px-6 py-4 bg-yellow-300 shadow-md">
  <a href="/" class="text-lg font-medium text-gray-700 hover:text-yellow-600 transition">Home</a>
  <a href="/puzzles/latest" class="text-lg font-medium text-gray-700 hover:text-yellow-600 transition">Puzzles</a>
  <a href="/clues/a" class="text-lg font-medium text-gray-700 hover:text-yellow-600 transition">Clues</a>
  <a href="/about" class="text-lg font-medium text-gray-700 hover:text-yellow-600 transition">About</a>
</div>
  <!-- Main Content Area -->
  <main class="flex-grow">
    <div class="container mx-auto sm:mt-5 mt-3 p-6 max-w-4xl bg-white shadow-md rounded">
      {% block content %}{% endblock %}
    </div>

    <!-- Ad sense -->
<!--     <div class="center mt-4" align="center">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8196064155864881"
           crossorigin="anonymous"></script>
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-8196064155864881"
           data-ad-slot="5399954346"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div> -->

  </main>

  <!-- Footer -->
  <footer class="bg-white border-t mt-3 sm:mt-3">
    <div class="container mx-auto px-4 py-6 text-center text-gray-500">
      &copy; {{ current_year }} NYT Spelling Bee Key | Not affiliated with the New York Times
      <a href="/about" class="text-lg font-medium text-gray-700 hover:text-yellow-600 transition">About</a>
    </div>

  </footer>
</body>
</html>
