<div class="text-center">

  {% if not is_sub %}
    <!-- Intro text -->
    <p class="mt-8 text-lg">
      Get the answer to the NYT Spelling Bee clue “<span class="font-semibold">{{answer.text}}</span>”, starting with the letter <span class="uppercase">{{answer.word[0]}}</span>.
    <br>
      Click below to uncover the answer.
    </p>
  {% else %}
    <p class="mt-2  text-lg">
      Clue “<span class="font-semibold">{{answer.text}}</span>” on
        <a href="{{ url_for(answer.puzzle_dates[0]) }}" class="text-m text-yellow-500 hover:underline">
          {{ format_date(answer.puzzle_dates[0]) }}</a>.
    </p>
  {% endif %}

    <div class="mt-4 flex justify-center gap-2 text-5xl font-bold answer-box cursor-pointer"
         data-answer="{{ answer.word }}"
         data-definition="definition-{{ index }}"
         onclick="toggleClueAnswer(this)"
         data-nosnippet>

      <!-- First Letter Always Visible -->
      <div class="inline-flex items-center justify-center w-16 h-16 bg-yellow-400 text-4xl font-bold uppercase">
        {{ answer.word[0] }}
      </div>

      <!-- Empty Boxes for Remaining Letters -->
      {% for _ in answer.word[1:] %}
      <div class="inline-flex items-center justify-center w-16 h-16 bg-yellow-400 text-4xl font-bold uppercase empty-box">
      </div>
      {% endfor %}
    </div>

    <!-- Definition Section (Hidden Initially) -->
    {% if answer.definition %}
    <div id="definition-{{ index }}" class="mt-6 border-l-4 border-yellow-400 pl-4 text-lg text-gray-800 text-left hidden">
      {% for word_type in answer.definition.word_types %}
        <p class="font-semibold uppercase mt-4 text-gray-700">{{ word_type.word_type }}</p>
        <ol class="list-decimal pl-6">
          {% for meaning in word_type.meanings %}
          <li class="mt-2">
            {{ meaning.meaning }}
            {% if meaning.example %}
            <p class="italic text-gray-600 mt-1">"{{ meaning.example }}"</p>
            {% endif %}
          {% endfor %}
        </ol>
      {% endfor %}
    </div>
    {% endif %}

  {% if not is_sub %}
    <p class="mt-8 text-lg">
      This clue appeared on
        <a href="{{ url_for(answer.puzzle_dates[0]) }}" class="text-m text-yellow-500 hover:underline">
          {{ format_date(answer.puzzle_dates[0]) }}</a>.
    </p>
  {% endif %}

  <!-- Other puzzles that used this clue/answer combo. -->
  {% if answer.puzzle_dates|length > 1 %}
  <div class="mt-12 pt-6 border-t text-center">
    <p class="text-lg">This clue has shown up several times with the same answer. It also appeared on these dates:</p>
    {% for puzzle_date in answer.puzzle_dates[1:] %}
      <p class="text-lg mt-2">
        <a href="{{ url_for(puzzle_date) }}"
          class="text-m text-yellow-500 hover:underline">
          {{ format_date(puzzle_date) }}
        </a>
      </p>
    {% endfor %}
  </div>
  {% endif %}
</div>
