<div class="flex justify-center items-center relative">
<div class="sb-hive w-full md:w-[400px]">
<div class="hive">
  <svg class="hive-cell center" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill cell-fill-center" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.center_letter}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[0]}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[1]}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[2]}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[3]}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[4]}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[5]}}</text>
  </svg></div>
</div>
</div>
<p class="text-center mb-3 text-lg">Unlock the Spelling Bee</p>
<!-- Buttons to Reveal Clues and Answers -->
<div class="flex justify-center space-x-6  mt-2 sm:mt-1">
  <button id="show-clues"
          data-target="clues"
          data-opposite-button="show-answers"
          onclick="toggleVisible(this)"
          class="w-full border text-center py-2 px-3 rounded-lg shadow-md text-yellow-600 border-yellow-570 font-semibold text-lg max-w-[200px]">
    Show Clues
  </button>

  <button id="show-answers"
          data-target="answers"
          data-opposite-button="show-clues"
          onclick="toggleVisible(this)"
          class="w-full border text-center py-2 px-3 rounded-lg shadow-md text-yellow-600 border-yellow-570 font-semibold text-lg max-w-[200px]">
    Show Answers
  </button>
</div>

<!-- Hidden Sections for Clues and Answers -->
<div id="answers" class="hidden mt-4">
  <h2 class="text-2xl font-semibold mb-2">Answers</h2>
  <div class="columns-2 md:columns-3 space-y-0">
    {% for answer in puzzle.answers %}
    <div class="text-lg break-inside-avoid {% if answer.is_pangram %}text-yellow-700 font-bold{% endif %}">{{ answer.word }}</div>
    {% endfor %}
  </div>
</div>

<div id="clues" class="hidden mt-4">
  <h2 class="text-2xl font-semibold mb-2">Clues</h2>
  <div class="space-y-6">
    {% if not puzzle.has_all_clues() %}
    <div class="text-lg italic mb-4">Clues provided by the NYT are not available until 9AM EST. These clues were created by us.</div>
    {% endif %}
    {% for answer in sort_by_clue(puzzle.answers) %}
    <div class="grid grid-cols-1">
      {% if answer.text %}
        <div class="text-lg">
          {% if answer.url %}
            <a class="hover:underline" href="{{ answer.url }}">{{ answer.text }}</a>
          {% else %}
            {{ answer.text }} <!-- no url temporary clues -->
          {% endif %}
        </div>
      {% else %}
        <div class="text-lg italic text-gray-500">No clue available</div>
      {% endif %}
      <!-- boxes -->
      <div class="flex flex-col items-start gap-1 mt-2">
        <div class="text-lg flex flex-wrap items-center gap-1 answer-box cursor-pointer"
             onclick="toggleClueAnswer(this)" data-answer="{{ answer.word }}">
          <div class="inline-flex text-gray-500 pr-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 hidden eye" role="img">
              <title>Show</title>
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 eye">
              <title>Hide</title>
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
            </svg>
                      </div>
          <div class="inline-flex items-center justify-center w-6 h-6 bg-yellow-400 text-lg font-bold uppercase">
            {{ answer.word[0] }}
          </div>

          {% for letter in answer.word[1:] %}
            <div class="inline-flex items-center justify-center w-6 h-6 bg-yellow-400 text-lg font-bold uppercase empty-box"></div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

