<div class="flex justify-center items-center relative">
<div class="sb-hive w-4/5 max-w-[400px]">
<div class="hive">
  <svg class="hive-cell center" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill cell-fill-center" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.center_letter}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[0]}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[1]}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[2]}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[3]}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[4]}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[5]}}</text>
  </svg></div>
</div>
</div>
<p class="text-center text-xl">Unlock the Spelling Bee</p>
<p class="text-center mb-3 text-lg">Stuck and can't reach Queen Bee? See the solution or find out the answers to the NYT user contributed clues.</p>
<!-- Buttons to Reveal Clues and Answers -->
<div class="flex justify-center space-x-6  mt-2 sm:mt-1">
  <button id="show-clues"
          data-target="clues"
          data-opposite-button="show-answers"
          onclick="toggleVisible(this)"
          class="w-full border text-center py-2 px-3 rounded-lg shadow-md text-yellow-600 border-yellow-570 font-semibold text-lg max-w-[200px]">
    <span>Show Clues</span>
  </button>

  <button id="show-answers"
          data-target="answers"
          data-opposite-button="show-clues"
          onclick="toggleVisible(this)"
          class="w-full border text-center py-2 px-3 rounded-lg shadow-md text-yellow-600 border-yellow-570 font-semibold text-lg max-w-[200px]">
    <span>Show Answers</span>
  </button>
</div>

<div id="hints" class="mt-4">
  <h2 class="text-2xl font-semibold mb-2">Hints</h2>
  <div class="space-y-6">
    {% for hint in puzzle.hints %}
      <div class="grid grid-cols-1">
        <div class="text-lg">
            {{ hint }}
        </div>
      </div>
    {% endfor %}
  </div>

<!-- Hidden Sections for Clues and Answers -->
<div id="answers" class="hidden mt-4">
  <h2 class="text-2xl font-semibold mb-2">Answers</h2>
  <div class="columns-2 md:columns-3 space-y-0">
    {% for ls in split_by_start(puzzle.answers) %}
      {% for answer in ls %}
        <div class="text-lg break-inside-avoid {% if answer.is_pangram %}text-yellow-700 font-bold{% endif %}">
          <a href="/definition/{{ answer.word }}" class="border-b-2 border-dashed border-gray-300 cursor-pointer">{{ answer.word }}</a>
        </div>
      {% endfor %}
      {% if not loop.last %}<div class="pt-4"></div>{% endif %}
    {% endfor %}
  </div>
</div>

<div id="clues" class="hidden mt-4">
  <h2 class="text-2xl font-semibold mb-2">Clues</h2>
  <div class="space-y-6">
    {% if not puzzle.has_all_clues() %}
    <div class="text-lg italic mb-4">Clues provided by the NYT are not available until 9AM EST. These clues were created by us.</div>
    {% endif %}
    {% for answer in sort_by_clue(puzzle.answers) %}
    <div class="grid grid-cols-1">
      {% if answer.text %}
        <div class="text-lg">
          {% if answer.url %}
            <a class="hover:underline" href="{{ answer.url }}">{{ answer.text }}</a>
          {% else %}
            {{ answer.text }} <!-- no url temporary clues -->
          {% endif %}
        </div>
      {% else %}
        <div class="text-lg italic text-gray-500">No clue available</div>
      {% endif %}
      {% with word=answer.word %}
        {% include "sub/word_boxes.html" %}
      {% endwith %}
    </div>
    {% endfor %}
  </div>
</div>

<!-- Navigation Section -->
<div class="mt-5 flex flex-row justify-between items-end sm:space-x-4">
  {% if prev %}
  <a href="{{url_for(prev)}}" class="px-6 py-2 border rounded hover:bg-gray-100 w-auto text-center">
    ⟨⟨ <span class="hidden sm:inline">{{format_date(prev.date)}}</span>
  </a>
  {% else %}
  <span class="px-6 py-2 border rounded text-gray-400 select-none w-auto text-center invisible">
    ⟨⟨ <span class="hidden sm:inline">>2025-01-01</span>
  </span>
  {% endif %}

  <div class="flex flex-col items-center">
    <label for="datepicker" class="text-sm text-gray-700 mb-1">Jump to date:</label>
    <input
      id="datepicker"
      type="date"
      value="{{puzzle.date}}"
      max="{{max_date}}"
      min="{{min_date}}"
      onkeydown="return false"
      class="border border-gray-300 rounded px-4 py-2">
  </div>
  <script>
    document.getElementById("datepicker").addEventListener("change", function() {
      const selectedDate = this.value; // Get the selected date (YYYY-MM-DD)
      if (selectedDate) {
        window.location.href = `/puzzle/${selectedDate}`; // Navigate to the new URL
      }
    });
  </script>

  {% if next_ %}
  <a href="{{url_for(next_)}}" class="px-6 py-2 border rounded hover:bg-gray-100 w-auto text-center">
    <span class="hidden sm:inline">{{format_date(next_.date)}}</span> ⟩⟩
  </a>
  {% else %}
  <span class="px-6 py-2 border rounded text-gray-400 select-none w-auto text-center invisible">
    <span class="hidden sm:inline">2025-01-01</span> ⟩⟩
  </span>
  {% endif %}
</div>
