<!-- Pagination Section small screens -->
<div class="flex justify-between items-center text-sm w-full block sm:hidden">
  <div class="flex space-x-1">
    {% if pagination.has_prev %}
      <a  href="{{pagination.first}}"
          id="page-first"
          class="px-2 py-1 border rounded hover:bg-gray-100 text-center">First</a>
    {% else %}
      <span class="px-2 py-1 border rounded text-gray-400 select-none text-center">First</span>
    {% endif %}
    {% if pagination.has_prev %}
      <a  href="{{pagination.prev}}"
          id="page-prev"
          class="px-2 py-1 border rounded hover:bg-gray-100 text-center">Prev</a>
    {% else %}
      <span class="px-2 py-1 border rounded text-gray-400 select-none text-center">Prev</span>
    {% endif %}
  </div>
  <span class="px-2 py-1 border rounded bg-yellow-100 text-center">
    Page {{ pagination.page }}{% if pagination.total_pages %} of {{ pagination.total_pages }}{% endif %}
  </span>
  <div class="flex space-x-1">
    {% if pagination.has_next %}
      <a  href="{{pagination.next}}"
          id="page-next"
          class="px-2 py-1 border rounded hover:bg-gray-100 text-center">Next</a>
    {% else %}
      <span class="px-2 py-1 border rounded text-gray-400 select-none text-center">Next</span>
    {% endif %}
    {% if pagination.has_next %}
      <a  href="{{pagination.last}}"
          id="page-last"
          class="px-2 py-1 border rounded hover:bg-gray-100 text-center">Last</a>
    {% else %}
      <span class="px-2 py-1 border rounded text-gray-400 select-none text-center">Last</span>
    {% endif %}
  </div>
</div>

