<!-- Pagination Section above sm (larger)-->
<div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 hidden sm:flex justify-center items-center">
  {% if pagination.has_prev %}
  <a  href="{{pagination.first}}"
      id="page-first"
      class="px-6 py-2 border rounded hover:bg-gray-100 w-full sm:w-auto text-center">First</a>
  {% else %}
    <span class="px-6 py-2 border rounded text-gray-400 select-none w-full sm:w-auto text-center">First</span>
  {% endif %}
  {% if pagination.has_prev %}
    <a  href="{{pagination.prev}}"
        id="page-prev"
        class="px-6 py-2 border rounded hover:bg-gray-100 w-full sm:w-auto text-center">Previous</a>
  {% else %}
    <span class="px-6 py-2 border rounded text-gray-400 select-none w-full sm:w-auto text-center">Previous</span>
  {% endif %}
    <span class="px-6 py-2 border rounded bg-yellow-100 w-full sm:w-auto text-center select-none">
      Page {{ pagination.page }}{% if pagination.total_pages %} of {{ pagination.total_pages }}{% endif %}
    </span>
  {% if pagination.has_next %}
    <a  href="{{pagination.next}}"
        id="page-next"
        class="px-6 py-2 border rounded hover:bg-gray-100 w-full sm:w-auto text-center">Next</a>
  {% else %}
    <span class="px-6 py-2 border rounded text-gray-400 select-none w-full sm:w-auto text-center">Next</span>
  {% endif %}
  {% if pagination.has_next and pagination.last %}
    <a  href="{{pagination.last}}"
        id="page-last"
        class="px-6 py-2 border rounded hover:bg-gray-100 w-full sm:w-auto text-center">Last</a>
  {% else %}
    <span class="px-6 py-2 border rounded text-gray-400 select-none w-full sm:w-auto text-center">Last</span>
  {% endif %}
</div>
