ol.list-decimal li::marker, .subtext {
  font-style: italic;
  color: #6b7280;
  font-size: 0.875rem; /* Tailwind's text-sm equivalent */
}

.hidden-answer {
  display: none;
}

.answer-box {
  justify-content: flex-end;
}

.first-letter {
  font-weight: bold;
  text-transform: uppercase;
}

.box-letter,
.box-placeholder {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #d1d5db; /* Tailwind's gray-300 */
  margin-left: 0.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.box-placeholder {
  background-color: #f3f4f6; /* Tailwind's gray-100 */
}


.sb-hive {
    margin: 25px auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.hive {
    position: relative;
    width: 100%;
    padding-bottom: 103.9230484542%;
}
.hive-cell:nth-child(1) {
    transform: translate(0, 0);
}
.hive-cell {
    position: absolute;
    top: 33.3333333333%;
    left: 30%;
    width: 40%;
    height: 33.3333333333%;
}

.hive-cell .cell-fill {
    cursor: pointer;
    fill: #FDE68A;
    stroke: white;
    transition: all 100ms;
}
.hive-cell .cell-fill-center {
    fill: #EAB308;
}
.hive-cell:first-child .cell-letter {
    fill: black;
}

.hive .cell-letter {
    fill: black;
    font-weight: 700;
    font-size: 1.875em;
    text-anchor: middle;
    text-transform: uppercase;
    pointer-events: none;
}
.hive-cell:nth-child(1) {
    transform: translate(0, 0);
}
.hive-cell:nth-child(2) {
    transform: translate(-75%, -50%);
}
.hive-cell:nth-child(3) {
    transform: translate(0, -100%);
}
.hive-cell:nth-child(4) {
    transform: translate(75%, -50%);
}
.hive-cell:nth-child(5) {
    transform: translate(75%, 50%);
}
.hive-cell:nth-child(6) {
    transform: translate(0, 100%);
}
.hive-cell:nth-child(7) {
    transform: translate(-75%, 50%);
}
