{% extends "sub/base.html" %}

{% block head %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "AboutPage",
  "name": "Describes the sources where the missing answers for the puzzles come from.",
  "url": "{{ domain }}/{{ canon_url }}",
  "description": "Find out where the missing answers come from."
}
</script>
{% endblock %}

{% block content %}

<section class="max-w-3xl mx-auto py-12 px-6">
  <h1 class="text-4xl font-bold mb-6">About the Missing Answers</h1>
  <div class="leading-relaxed text-lg sm:text-base">
    <p class="mb-6">
      The missing answers come from a couple of sources. I use the <a
        class="border-b-2 border-dashed border-gray-300 cursor-pointer"
        href="http://wordlist.aspell.net/"
        id="scowl">SCOWL</a> American-English word list with common spelling variations to find all the possible answers. I also check that the words appear in the <a
          href="https://www.merriam-webster.com/"
          id="merriam-webster"
        class="border-b-2 border-dashed border-gray-300 cursor-pointer">Merriam Webster Collegiate Dictionary</a> — which the NYT say is one of their sources. I also remove offensive words and ones that are not normally allowed like proper nouns and abbreviations.
    </p>
    <p class="mb-6">
      I don't remove {{ smquote('obscure', single=True) }} words because what is considered obscure is subjective. The NYT answer set already includes many words that I consider obscure. For example
      ‘<a href="https://www.merriam-webster.com/dictionary/nankeen"
        class="border-b-2 border-dashed border-gray-300 cursor-pointer">nankeen</a>’,
      ‘<a href="/puzzle/2025-02-27"
        class="border-b-2 border-dashed border-gray-300 cursor-pointer">callaloo</a>’, and
      ‘<a href="/puzzle/2025-02-28"
        class="border-b-2 border-dashed border-gray-300 cursor-pointer">epicene</a>’ among others.
    </p>
    <p class="mb-6">
      Is there a word I have missed? Send me an email at
      <a  href="mailto:contact@beekey.buzz"
          id="about-other-answers-contact"
          class="text-yellow-600 hover:underline">contact@beekey.buzz</a>.
    </p>
  </div>

  </div>
</section>


{% endblock %}
