{% extends "sub/base.html" %}

{% block head %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "AboutPage",
  "name": "About NYT Spelling Bee Key",
  "url": "{{ domain }}/about",
  "description": "Learn more about the NYT Spelling Bee Key website."
}
</script>
{% endblock %}

{% block content %}

<section class="max-w-3xl mx-auto py-12 px-6">
  <h1 class="text-4xl font-bold mb-6">About Spelling Bee Key</h1>
  <p class="text-lg leading-relaxed mb-6">
    The New York Times Spelling Bee is a popular daily word puzzle that challenges players to create as many words as possible using a set of seven letters arranged in a honeycomb shape. One letter is placed at the center, and every word must include this central letter. The more words a player finds, the higher their rank, with “Queen Bee” status awarded to those who discover all possible words.
  </p>
  <p class="text-lg leading-relaxed mb-6">
    Spelling Bee Key is designed to help players who might be stuck on a puzzle or looking for assistance with specific clues. Our site allows users to search for clues from past puzzles and discover answers, making it easier to progress and improve their skills.
  </p>
  <p class="text-lg leading-relaxed mb-6">
    Whether you're aiming to find one elusive word or just curious about previous puzzles, this site is a valuable resource to enhance your Spelling Bee experience.
  </p>
  <div class="border-t border-gray-300 pt-6 mt-8">
    <p class="text-lg">
      For inquiries, contact us at
      <a  href="mailto:contact@beekey.buzz"
          id="about-contact"
          class="text-yellow-600 hover:underline">contact@beekey.buzz</a>.
    </p>
  </div>

  {% if config['USE_AMAZON'] %}
    <div class="text-gray-500 text-sm mt-4">
      As an Amazon Associate I earn from qualifying purchases.
    </div>
  {% endif %}
</section>


{% endblock %}
