{% extends "sub/base.html" %}

{% block head %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "AboutPage",
  "name": "About NYT Spelling Bee Key",
  "url": "{{ domain }}/about",
  "description": "Learn more about the NYT Spelling Bee Key website."
}
</script>
{% endblock %}

{% block content %}

<section class="max-w-3xl mx-auto py-12 px-6">
  <h1 class="text-4xl font-bold mb-6">About Spelling Bee Key</h1>
  <p class="text-lg sm:text-base leading-relaxed mb-6"> The New York Times Spelling Bee is a popular daily word puzzle that challenges players to create as many words as possible using a set of seven letters arranged in a honeycomb shape. One letter is always placed at the center, and every word must include this central letter. The more words a player finds, the higher their rank, with “Queen Bee” status awarded to those who discover all possible words. </p>

  <p class="text-lg sm:text-base leading-relaxed mb-6"> Spelling Bee Key is designed for players who get stuck on a puzzle or need help with specific clues. It lets you search for clues from past puzzles and find answers. I also provide hints as soon as the puzzle is published each day, so you don’t have to wait for the NYT hints, which aren’t available until several hours later. Plus, I list all the words that could be formed using the given letters but weren’t included in the NYT’s word list. </p>
  <p class="text-lg sm:text-base leading-relaxed mb-6"> Whether you're searching for that one elusive word or just curious about past puzzles, this site is a useful resource to enhance your Spelling Bee experience. </p>
  <div class="border-t border-gray-300 pt-6 mt-8">
    <p class="text-lg sm:text-base">
      For inquiries, contact me at
      <a  href="mailto:contact@beekey.buzz"
          id="about-contact"
          class="text-yellow-600 hover:underline">contact@beekey.buzz</a>.
    </p>
  </div>

  {% if config['USE_AMAZON'] %}
    <div class="text-gray-500 text-sm mt-4">
      As an Amazon Associate I earn from qualifying purchases.
    </div>
  {% endif %}
</section>


{% endblock %}
