<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="{% block description %}NYT Spelling Bee Clues and Answers{% endblock %}">
<meta name="keywords" content="NYT Spelling Bee, spellingbee, spellingbee clues, spellingbee hints, spelling bee hints">
<meta name="author" content="NYT Spelling Bee Key">
<title>{% block title %}NYT Spelling Bee Key{% endblock %}</title>

<meta property="og:type" content="website">
<meta property="og:description" content="{{self.description()}}">
<meta property="og:title" content="{{self.title()}}">
<meta property="og:image" content="/static/banner.png">
{% if canon_url is defined %}
  <meta property="og:url" content="{{ canon_url }}">
  <link rel="canonical" href="{{ canon_url }}">
{% endif %}

<!-- CSS -->
{% if DEV %}
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="/static/custom.{{VERSION}}.css" rel="stylesheet">
{% else %}
  <link href="/static/style.{{VERSION}}.css" rel="stylesheet">
{% endif %}

<!-- Javascript -->
{% if not DEV %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0BHRLPDY39"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-0BHRLPDY39');
  </script>
  <script async src="/static/script.{{VERSION}}.min.js"></script>
{% else %}
  <script async src="/static/script.{{VERSION}}.js"></script>
{% endif %}

{% block head %}{% endblock %}

<link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">
<!-- Navigation Bar -->
<nav class="flex items-center justify-between py-4 px-6 bg-yellow-400 shadow-md">
  <div class="text-2xl font-bold flex items-center">
    <a href="/">🐝 <span class="ml-2">NYT Spelling Bee Key</span></div>
  </div>
  <div class="hidden sm:flex space-x-6">
    <a href="/" class="text-lg font-medium text-gray-700 hover:text-yellow-600 transition">Home</a>
    <a href="/puzzles/latest" class="text-lg font-medium text-gray-700 hover:text-yellow-600 transition">Puzzles</a>
    <a href="/clue-archive/1" class="text-lg font-medium text-gray-700 hover:text-yellow-600 transition">Clues</a>
    <a href="/about" class="text-lg font-medium text-gray-700 hover:text-yellow-600 transition">About</a>
  </div>
  <div class="sm:hidden">
    <button class="text-3xl" onclick="toggleMenu()">☰</button>
  </div>
</nav>

<div id="mobileMenu" class="hidden sm:hidden flex flex-col space-y-4 px-6 py-4 bg-yellow-300 shadow-md">
  <a href="/" class="text-lg font-medium text-gray-700 hover:text-yellow-600 transition">Home</a>
  <a href="/puzzle-archive" class="text-lg font-medium text-gray-700 hover:text-yellow-600 transition">Puzzles</a>
  <a href="/clue-archive/1" class="text-lg font-medium text-gray-700 hover:text-yellow-600 transition">Clues</a>
  <a href="/about" class="text-lg font-medium text-gray-700 hover:text-yellow-600 transition">About</a>
</div>
<script>
function toggleMenu() {
  const menu = document.getElementById('mobileMenu');
  menu.classList.toggle('hidden');
}
</script>

  <!-- Main Content Area -->
  <main>
  <div class="container mx-auto sm:mt-10 mt-3 p-6 max-w-4xl bg-white shadow-md rounded">
    {% block content %}{% endblock %}
  </div>
  </main>

  <!-- Footer -->
  <footer class="bg-white border-t mt-6 sm:mt-12">
    <div class="container mx-auto px-4 py-6 text-center text-gray-500">
      &copy; {{ current_year }} NYT Spelling Bee Key | Not affiliated with the New York Times
    </div>
  </footer>
</body>
</html>
