{% extends "sub/base.html" %}
{% block title %}“{{page.clue_answers[0].text}}” NYT Spelling Bee Clue{% endblock %}
{% block description %}See the answer to '{{page.clue_answers[0].text}}' from the NYT Spelling Bee.{% endblock %}
{% block head %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "“{{ page.clue_answers[0].text | json_esc}}” NYT Spelling Bee clue.",
  "description": "Solve the clue “{{ page.clue_answers[0].text | json_esc }}” from the NYT Spelling Bee.",
  "url": "{{ domain }}{{ page.url }}",
  "datePublished": "{{ page.clue_answers[0].puzzle_dates[0] }}",
  "mainEntity": {
    "@type": "Question",
    "name": "{{ page.clue_answers[0].text | json_esc}}"
  }
}
</script>
{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold mb-6 text-center">{{ page.clue_answers[0].text }}</h1>

{% with answer=page.clue_answers[0], index=0, is_sub=False %}
  {% include "sub/clue.html" %}
{% endwith %}

<!-- Other answers for the same clue. -->
{% if page.clue_answers|length > 1 %}
<div class="mt-10 pt-6 border-t text-center">
  <h2 class="text-lg mb-6">This clue has also appeared with other answers. Find all the answers below:</h2>
  {% for answer in page.clue_answers[1:] %}
    {% with index=loop.index,is_sub=True %}
      <div class="mb-8 border-b last:border-b-0 pb-8 ">
        {% include "sub/clue.html" %}
      </div>
    {% endwith %}
  {% endfor %}
</div>
{% endif %}

{% endblock %}
