{% extends "sub/base.html" %}

{% block title %}NYT Spelling Bee clues starting with {{ prefix.upper() }}{% endblock %}
{% block description %}Browse the archive of NYT Spelling Bee “{{ prefix.upper() }}” clues. Explore clues and uncover answers to hone your solving skills.
{% endblock %}
{% block head %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "name": "{{ self.title() }}",
    "description": "{{ self.description() }}}.",
    "url": "{{ domain }}{{ pagination.current }}",
    "numberOfItems": {{ answers|length }},
    "itemListElement": [
      {% for answer in answers %}
      {
        "@type": "ListItem",
        "position": {{ loop.index }},
        "url": "{{ url_for(answer) }}",
        "name": "{{ answer.text | json_esc }}"
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
  </script>

  {% if pagination.has_prev %}
    <link rel="prev" href="{{pagination.prev}}">
  {% endif %}
  {% if pagination.has_next %}
    <link rel="next" href="{{pagination.next}}">
  {% endif %}

{% endblock %}


{% block content %}
<h1 class="text-4xl font-bold text-center mb-1">Clues starting with {{ smquote(prefix.upper(), single=True) }}</h1>
<a  href="/clues/"
    id="archive-clue-back-to-index"
    class="block w-full mb-4 text-center underline italic text-sm">Back to index
</a>
{% if pagination.total_pages > 1 %}
  {% include 'sub/pagination_large.html' %}
  {% include 'sub/pagination_small.html' %}
{% endif %}

<div class="grid grid-cols-1 gap-5 my-5">
  {% for answer in answers %}
  <a  href="{{ answer.url }}"
      id="archive-clue-page"
      class="hover:underline">
    <div class="px-4 py-3 border border-gray-300 rounded-lg hover:shadow-lg transition">
      <p class="text-lg font-medium">{{ answer.text }}</p>
      <p class="text-sm italic mt-1">{{ format_date(answer.puzzle_date) }}</p>
    </div>
  </a>
  {% endfor %}
</div>

{% if pagination.total_pages > 1 %}
  {% include 'sub/pagination_large.html' %}
  {% include 'sub/pagination_small.html' %}
{% endif %}

{% endblock %}
