{% extends "base.html" %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "NYT Spelling Bee clue: “{{ page.answers[0].text | json_esc}}”",
  "description": "Find the answer to the NYT Spelling Bee clue “{{ page.answers[0].text | json_esc }}”.",
  "url": "{{ domain }}/clue/{{ page.url }}",
  "datePublished": "{{ page.answers[0].puzzle_date }}",
  "mainEntity": {
    "@type": "Question",
    "name": "{{ page.answers[0].text | json_esc}}"
  }
}
</script>
{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold mb-6 text-center">{{ page.answers[0].text }}</h1>

{% with answer=page.answers[0], index=0 %}
  {% include "clue.html" %}
{% endwith %}

{% if page.answers|length > 1 %}
<div class="mt-12 pt-6 border-t text-center">
  <h2 class="text-lg mb-6">This clue also appeared on other dates:</h2>
  {% for answer in page.answers[1:] %}
    <p class="text-2xl font-bold">{{ answer.text }}</p>
    <div class="mt-4">
    {% with index=loop.index %}
      {% include "clue.html" %}
    {% endwith %}
    </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
