<div class="flex justify-center items-center relative">
<div class="sb-hive w-full md:w-[400px]">
<div class="hive">
  <svg class="hive-cell center" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill cell-fill-center" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.center_letter}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[0]}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[1]}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[2]}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[3]}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[4]}}</text>
  </svg>
  <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
    <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
    <text class="cell-letter" x="50%" y="50%" dy="0.35em">{{puzzle.outer_letters[5]}}</text>
  </svg></div>
</div>
</div>

<!-- Buttons to Reveal Clues and Answers -->
<div class="flex justify-center space-x-6  mt-2: sm:mt-8">
  <button data-target="clues"
          onclick="toggleAnswer(this)"
          class="w-full border text-center py-2 px-3 rounded-lg button-shadow  text-yellow-600 border-yellow-570">
    Show Clues
  </button>

  <button data-target="answers"
          onclick="toggleAnswer(this)"
          class="w-full border text-center py-2 px-3 rounded-lg button-shadow  text-yellow-600 border-yellow-570">
    Show Answers
  </button>
</div>

<!-- Hidden Sections for Clues and Answers -->
<div id="answers" class="hidden mt-4">
  <h2 class="text-2xl font-semibold mb-2">Answers</h2>
  <div class="columns-2 md:columns-3 space-y-0">
    {% for answer in puzzle.answers %}
    <div class="text-lg break-inside-avoid">{{ answer.word }}</div>
    {% endfor %}
  </div>
</div>

<div id="clues" class="hidden mt-4">
  <h2 class="text-2xl font-semibold mb-4">Clues</h2>
  <div class="space-y-6">
    {% for answer in sort_by_clue(puzzle.answers) %}
    <div class="grid grid-cols-1">
      <div class="text-lg">
        {{ answer.text }}
      </div>
      <div class="flex flex-col items-start gap-1 mt-2">
        <div class="text-lg flex flex-wrap items-center gap-1 answer-box cursor-pointer"
             onclick="revealAnswer(this)" data-answer="{{ answer.word }}">
          <div class="inline-flex items-center justify-center w-6 h-6 bg-yellow-400 text-lg font-bold uppercase">
            {{ answer.word[0] }}
          </div>

          {% for letter in answer.word[1:] %}
          <div class="inline-flex items-center justify-center w-6 h-6 bg-yellow-400 text-lg font-bold uppercase empty-box">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

