{% extends "base.html" %}
{% block title %}NYT Spelling Bee Archive{% endblock %}
{% block head %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "name": "NYT Spelling Bee archive for {{period}}",
    "description": "A collection of spelling bees published in the NYT during {{period}}.",
    "url": "{{pagination.current}}",
    "numberOfItems": {{ puzzles|length }},
    "itemListElement": [
      {% for puzzle in puzzles %}
      {
        "@type": "ListItem",
        "position": {{ loop.index }},
        "url": "{{ url_for(puzzle) }}",
        "name": "{{puzzle.center_letter}} {{joinl(puzzle.outer_letters, sep=' ')}} {{format_date(puzzle.date)}}"
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
  </script>

  <link rel="canonical" href="{{pagination.current}}">
  {% if pagination.has_prev %}
    <link rel="prev" href="{{pagination.prev}}">
  {% endif %}
  {% if pagination.has_next %}
    <link rel="next" href="{{pagination.next}}">
  {% endif %}

{% endblock %}
{% block content %}
<h1 class="text-4xl font-bold text-center mb-6">Puzzles from {{period}}</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  {% for puzzle in puzzles %}
  <a href="{{ url_for(puzzle.date) }}" class="group hover:underline">
    <div class="p-4 border border-gray-300 rounded-lg hover:shadow-lg transition">
      <p class="text-lg font-medium uppercase flex items-center">
        <svg class="hive-cell-standalone center" viewBox="0 0 120 103.92304845413263">
          <polygon class="cell-fill cell-fill-center" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
          <text x="13%" y="13%" text-anchor="middle" dy="0.35em" font-size="18" transform="scale(4)"  class="group-hover:underline">{{ puzzle.center_letter }}</text>
        </svg>
        <span class="pl-1">{{ joinl(puzzle.outer_letters, sep=' ') }}</span>
      </p>
      <p class="text-sm italic mt-2 no-underline">{{ format_date(puzzle.date) }}</p>
    </div>
  </a>
  {% endfor %}
</div>
<!-- Pagination Section small screens -->
<div class="mt-10 flex justify-between items-center text-sm w-full block sm:hidden">
  <div class="flex space-x-1">
    {% if pagination.has_prev %}
    <a href="{{pagination.first}}" class="px-2 py-1 border rounded hover:bg-gray-100 text-center">First</a>
    {% else %}
    <span class="px-2 py-1 border rounded text-gray-400 cursor-not-allowed text-center">First</span>
    {% endif %}
    {% if pagination.has_prev %}
    <a href="{{pagination.prev}}" class="px-2 py-1 border rounded hover:bg-gray-100 text-center">Prev</a>
    {% else %}
    <span class="px-2 py-1 border rounded text-gray-400 cursor-not-allowed text-center">Prev</span>
    {% endif %}
  </div>
  <span class="px-2 py-1 border rounded bg-yellow-100 text-center">
    Page {{ pagination.page }} of {{ pagination.total_pages }}
  </span>
  <div class="flex space-x-1">
    {% if pagination.has_next %}
    <a href="{{pagination.next}}" class="px-2 py-1 border rounded hover:bg-gray-100 text-center">Next</a>
    {% else %}
    <span class="px-2 py-1 border rounded text-gray-400 cursor-not-allowed text-center">Next</span>
    {% endif %}
    {% if pagination.has_next %}
    <a href="{{pagination.last}}" class="px-2 py-1 border rounded hover:bg-gray-100 text-center">Last</a>
    {% else %}
    <span class="px-2 py-1 border rounded text-gray-400 cursor-not-allowed text-center">Last</span>
    {% endif %}
  </div>
</div>

<!-- Pagination Section above sm (larger)-->
<div class="mt-10 flex flex-col sm:flex-row justify-center items-center space-y-4 sm:space-y-0 sm:space-x-4 hidden sm:flex">
  {% if pagination.has_prev %}
  <a href="{{pagination.first}}" class="px-6 py-2 border rounded hover:bg-gray-100 w-full sm:w-auto text-center">First</a>
  {% else %}
  <span class="px-6 py-2 border rounded text-gray-400 cursor-not-allowed w-full sm:w-auto text-center">First</span>
  {% endif %}
  {% if pagination.has_prev %}
  <a href="{{pagination.prev}}" class="px-6 py-2 border rounded hover:bg-gray-100 w-full sm:w-auto text-center">Previous</a>
  {% else %}
  <span class="px-6 py-2 border rounded text-gray-400 cursor-not-allowed w-full sm:w-auto text-center">Previous</span>
  {% endif %}
  <span class="px-6 py-2 border rounded bg-yellow-100 w-full sm:w-auto text-center">
    Page {{ pagination.page }} of {{ pagination.total_pages }}
  </span>
  {% if pagination.has_next %}
  <a href="{{pagination.next}}" class="px-6 py-2 border rounded hover:bg-gray-100 w-full sm:w-auto text-center">Next</a>
  {% else %}
  <span class="px-6 py-2 border rounded text-gray-400 cursor-not-allowed w-full sm:w-auto text-center">Next</span>
  {% endif %}
  {% if pagination.has_next %}
  <a href="{{pagination.last}}" class="px-6 py-2 border rounded hover:bg-gray-100 w-full sm:w-auto text-center">Last</a>
  {% else %}
  <span class="px-6 py-2 border rounded text-gray-400 cursor-not-allowed w-full sm:w-auto text-center">Last</span>
  {% endif %}
</div>

{% endblock %}
