{% extends "sub/base.html" %}
{% block title %}NYT Spelling Bee Key for {{ format_date(puzzle.date) }}{% endblock %}
{% block description %}Explore the NYT Spelling Bee puzzle for {{ format_date(puzzle.date) }}. Solve clues, find answers, and discover new words.
{% endblock %}
{% block head %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Quiz",
  "name": "{{ self.title() }}",
  "description": "{{ self.description() }}.",
  "datePublished": "{{ puzzle.date }}",
  "url": "{{ domain }}{{ url_for(puzzle) }}",
  "mainEntity": {
    "@type": "Question",
    "name": "NYT Spelling Bee clues and answers for {{ format_date(puzzle.date) }}",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "{{ puzzle.answer_list() }}"
    }
  }
}
</script>
{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold text-center mb-2">Spelling Bee from {{ format_date(puzzle.date) }}</h1>
{% include "sub/game.html" %}
{% endblock %}
