{% extends "base.html" %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Quiz",
  "name": "NYT Spelling Bee - {{ puzzle.date }}",
  "description": "Solve the NYT Spelling Bee puzzle from {{ puzzle.date }}.",
  "datePublished": "{{ puzzle.date }}",
  "url": "{{ domain }}/puzzle/{{ puzzle.date }}",
  "mainEntity": {
    "@type": "Question",
    "name": "Spelling Bee Puzzle - {{ puzzle.date }}",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "{{ puzzle.answer_list }}"
    }
  }
}

</script>
{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold text-center mb-2">{{ format_date(puzzle.date) }}</h1>
{% include "game.html" %}
{% endblock %}
