{% extends "base.html" %}
{% block title %}NYT Spelling Bee Archive{% endblock %}
{% block content %}
<h1 class="text-4xl font-bold text-center mb-6">Puzzle Archive</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  {% for puzzle in puzzles %}

  <a href="puzzle/{{ puzzle.date }}" class="group hover:underline">
    <div class="p-4 border border-gray-300 rounded-lg hover:shadow-lg transition">
      <p class="text-lg font-medium uppercase flex items-center">
        <svg class="hive-cell-standalone center" viewBox="0 0 120 103.92304845413263">
          <polygon class="cell-fill cell-fill-center" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
          <text x="13%" y="13%" text-anchor="middle" dy="0.35em" font-size="18" transform="scale(4)"  class="group-hover:underline">{{ puzzle.center_letter }}</text>
        </svg>
        <span class="pl-1">{{ joinl(puzzle.outer_letters, sep=' ') }}</span>
      </p>
      <p class="text-sm italic mt-2 no-underline">{{ format_date(puzzle.date) }}</p>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
