{% extends "sub/base.html" %}
{% block title %}NYT Spelling Bee Archive for {{ period }}{% endblock %}
{% block description %}Browse the archive of NYT Spelling Bees for {{ period }}. Explore past puzzles, find clues, and uncover answers to hone your solving skills.
{% endblock %}
{% block head %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "name": "{{ self.title() }}",
    "description": "{{ self.description() }}}.",
    "url": "{{ domain }}{{ pagination.current }}",
    "numberOfItems": {{ puzzles|length }},
    "itemListElement": [
      {% for puzzle in puzzles %}
      {
        "@type": "ListItem",
        "position": {{ loop.index }},
        "url": "{{ url_for(puzzle) }}",
        "name": "{{ puzzle.center_letter }} {{ joinl(puzzle.outer_letters, sep=' ') }} {{ format_date(puzzle.date) }}"
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
  </script>

  {% if pagination.has_prev %}
    <link rel="prev" href="{{pagination.prev}}">
  {% endif %}
  {% if pagination.has_next %}
    <link rel="next" href="{{pagination.next}}">
  {% endif %}

{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold text-center mb-6">Puzzles from {{period}}</h1>

{% include 'sub/pagination_small.html' %}
{% include 'sub/pagination_large.html' %}

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  {% for puzzle in puzzles %}
  <a href="{{ url_for(puzzle.date) }}" class="group hover:underline">
    <div class="p-4 border border-gray-300 rounded-lg hover:shadow-lg transition">
      <p class="text-lg font-medium uppercase flex items-center">
        <svg class="hive-cell-standalone center" viewBox="0 0 120 103.92304845413263">
          <polygon class="cell-fill cell-fill-center" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
          <text x="13%" y="13%" text-anchor="middle" dy="0.35em" font-size="18" transform="scale(4)"  class="group-hover:underline">{{ puzzle.center_letter }}</text>
        </svg>
        <span class="pl-1">{{ joinl(puzzle.outer_letters, sep=' ') }}</span>
      </p>
      <p class="text-sm italic mt-2 no-underline">{{ format_date(puzzle.date) }}</p>
    </div>
  </a>
  {% endfor %}
</div>
{% include 'sub/pagination_small.html' %}
{% include 'sub/pagination_large.html' %}
{% endblock %}
