{% extends "base.html" %}
{% block title %}NYT Spelling Bee Key for {{ format_date(puzzle.date) }}{% endblock %}
{% block structured_data %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Quiz",
  "name": "NYT Spelling Bee anwers and clues for {{ puzzle.date }}",
  "description": "Solve the NYT Spelling Bee puzzle from {{ format_date(puzzle.date) }}.",
  "datePublished": "{{ puzzle.date }}",
  "url": "{{ domain }}/puzzle/{{ puzzle.date }}",
  "mainEntity": {
    "@type": "Question",
    "name": "NYT Spelling Bee clues and answers for {{ format_date(puzzle.date) }}",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "{{ puzzle.answer_list() }}"
    }
  }
}
</script>
{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold text-center mb-2">{{ format_date(puzzle.date) }}</h1>
{% include "game.html" %}
{% endblock %}
